.container{
  border: 1px solid black;
  width: 32%;

  padding: 1rem;
  margin: 1rem;

  border-radius: 1rem;
  div{
    div{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  img{
    width: 70px;
    height: 70px;
  }
}